<h1 style="color: aliceblue">Vegetables and fruits</h1>
<button color="primary" mat-raised-button (click)="AddEntity()">Add entity</button>
<table mat-table [dataSource]="entities" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
  <form>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Entity name</th>
      <td mat-cell *matCellDef="let element">
        <div>
          {{element.name}}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Entity type</th>
      <td mat-cell *matCellDef="let element">
        <div>
          {{element.type}}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <div>
          <button mat-icon-button (click)="Update(element)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button (click)="Delete(element)"><mat-icon>delete</mat-icon></button>
        </div>
      </td>
    </ng-container>
  </form>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

