<mat-toolbar class="menu">
  <a routerLink=""><span class = "logo">LOGO</span></a>
  <div *ngIf="!isLogined">
    <button color="primary" class="unauthorized" mat-raised-button (click)="loginClick()">Вход</button>
    <button color="primary" class="unauthorized" mat-raised-button (click)="regClick()">Регистрация</button>
  </div>
  <div *ngIf="isLogined">
    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">{{appid}}<mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="accountClick()">
        <span>Личный кабинет</span>
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-menu-item (click)="exitClick()">
        <span>Выход</span>
        <mat-icon>login</mat-icon>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
<div class="central">
  <div class="window">
    <router-outlet></router-outlet>
  </div>
</div>
