<div class="window">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Регистрация
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="regForm" class="form" (ngSubmit)="Submit()">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="example@ya.ru" formControlName="email" >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Пароль</mat-label>
          <input matInput formControlName="pass1" [type]="HidePass1 ? 'password' : 'text'">
          <mat-icon matSuffix (click)="HidePass1 = !HidePass1" >{{HidePass1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Повторите пароль</mat-label>
          <input matInput formControlName="pass2" [type]="HidePass2 ? 'password' : 'text'">
          <mat-icon matSuffix (click)="HidePass2 = !HidePass2" >{{HidePass2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <ngx-recaptcha2 #captchaElem
          [siteKey]="siteKey"
          formControlName="recaptcha">
        </ngx-recaptcha2>
        <button color="primary" mat-raised-button style="height: 55px; margin-top: 20px" [disabled]="regForm.invalid" >
          Отправить
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
